{
  "presets": [
    ["env", {
      "targets": {
        "node": 7.4,
        "browsers": "Electron 1.6"
      },
      "loose": false, 
      "modules": false,
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
  ]
}